name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
          # This ensures the cache looks at the correct folder
          cache-dependency-path: './web-platform/package.json'

      - name: Install dependencies
        working-directory: ./web-platform
        run: npm install

      - name: Build with Next.js
        working-directory: ./web-platform
        # We manually point Next.js to the current folder (.)
        run: npx next build .

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./web-platform/out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps: deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
